* {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  box-sizing: border-box;
}

.menu {
  height: 100vh;
  width: 100%;
  background-image: url(assets/BG.jpg);
  background-size: cover;
  background-position: center;
  padding: 14px 2%;
}
#menu-bar {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  display: none;
  z-index: 10001;
}

#close-menu {
  cursor: pointer;
  display: none;
  z-index: 10001;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 8%;
  padding-right: 8%;
}

span {
  color: #294981;
  font-weight: 800;
}
.navbar li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

.navbar li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}

.navbar li a:hover {
  color: #3c75d8;
  transition: 0.4s;
}

.content {
  position: absolute;
  right: 0;
  left: 0;
  top: 150px;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  max-height: 200px;
  max-width: 700px;
  border-radius: 10px;
  border: solid 1px white;
  backdrop-filter: blur(8px);
}

.content:hover {
  backdrop-filter: none;
  border: solid 5px white;
  transition: 0.5s;
}

.content h1 {
  color: white;
  font-size: 75px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.content h3 {
  color: white;
  font-size: 25px;
  margin-bottom: 20px;
}

.content h4 {
  color: white;
  letter-spacing: 2px;
  font-size: 20px;
  margin-bottom: 20px;
}

.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px 10px 10px 10px;
  background-color: #000000;
  align-items: center;
}
.main img {
  height: auto;
  width: 430px;
  transition: 0.5s;
}
.about-text {
  transition: 0.5s;
  align-items: center;
  text-align: center;
}
.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.about-text h2 {
  color: white;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
  transition: 0.5s;
}

.about-text h5 {
  color: white;
  letter-spacing: 2px;
  font-size: 22px;
  text-transform: capitalize;
  margin-bottom: 25px;
  transition: 0.5s;
}
.about-text p {
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 28px;
  margin-bottom: 45px;
  transition: 0.5s;
}

.about-map {
  color: white;
  text-align: center;
  align-items: center;
}

.about-map h3 {
  font-weight: bold;
  margin-bottom: 10px;
  padding-top: 5px;
  font-size: 30px;
}

.about-map p {
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 28px;
  margin-bottom: 45px;
  transition: 0.5s;
}

.map {
  height: 300px;
  width: 800px;
  border: solid white;
  border-radius: 15px;
}

.galerie-1 {
  display: flex;
  width: 100%;
  padding: 1% 2%;
  box-sizing: border-box;
  height: 80vh;
}
.zeile {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.galerie-1 .box {
  flex: 1;
  overflow: hidden;
  transition: 1.5s;
  margin: 0 2%;
  line-height: 0;
}

.hobbys h3 {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}

.galerie-1 .box img {
  width: 100%;
  height: calc(80% - 10vh);
  object-fit: cover;
  border: solid white;
  border-radius: 15px;
  transition: 0.5s;
}

.galerie-1 .box > span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 1vh;
  line-height: 1.6;
}

.galerie-1 .box:hover {
  flex: 1 30%;
  transition: 0.5s;
}
.galerie-1 .box:hover img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.galerie-2 {
  display: flex;
  width: 100%;
  padding: 1% 2%;
  box-sizing: border-box;
  height: 80vh;
}
.zeile-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.galerie-2 .zeile-2 .box {
  flex: 1;
  overflow: hidden;
  transition: 1.5s;
  margin: 0 2%;
  line-height: 0;
}

.love h3 {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}

.galerie-2 .box img {
  width: 100%;
  height: calc(80% - 10vh);
  object-fit: cover;
  border: solid white;
  border-radius: 15px;
  transition: 0.5s;
}

.galerie-2 .box > span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 1vh;
  line-height: 1.6;
}

/* Laufbahn */
.laufbahn {
  background: #ffffff;
  width: 100%;
  padding: 30px 70px;
}
.laufbahn .title h2 {
  color: rgb(0, 0, 0);
  font-size: 75px;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  text-align: center;
  text-transform: capitalize;
  transition: 0.5s;
}
.laufbahn .untertitel h3 {
  color: rgb(0, 0, 0);
  padding-top: 5px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}

.laufbahn .untertitel-2 h3 {
  color: rgb(0, 0, 0);
  padding-top: 50px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
  font-weight: bold;
}

.Yearly-timeline {
  font-family: "Josefin Sans", sans-serif;
}
.Yearly-timeline:after {
  content: "";
  display: block;
  clear: both;
  transition: 0.5s;
}
.Yearly-timeline .timeline {
  width: calc(50% + 17px);
  padding: 0 32px 30px 0;
  float: left;
  position: relative;
  transition: 0.5s;
}

.Yearly-timeline .timeline:after {
  background-color: #fff;
  height: 20px;
  width: 20px;
  border: 6px solid rgba(0, 212, 255, 1);
  border-radius: 50%;
  right: 0;
  transition: 0.5s;
}
.Yearly-timeline .timeline-content {
  color: rgb(255, 255, 255);
  background: rgb(8, 0, 142);
  background: linear-gradient(
    90deg,
    rgba(8, 0, 142, 1) 0%,
    rgba(20, 20, 226, 1) 12%,
    rgba(0, 212, 255, 1) 100%
  );
  text-align: center;
  min-height: 170px;
  padding: 30px 35px 35px;
  border-radius: 15px 15px 15px 15px;
  display: block;
  position: relative;
  z-index: 1;
  transition: 0.5s;
}

.Yearly-timeline .timeline-content .title {
  margin: 5px;
}
.Yearly-timeline .timeline-content .description {
  margin: 5px;
}
.Yearly-timeline .timeline-content .description .job {
  margin: 5px;
}

.Yearly-timeline .timeline-content:before {
  background-color: #fff;
  position: absolute;
  left: 17px;
  right: 17px;
  top: 17px;
  bottom: 17px;
  z-index: -1;
  transition: 0.5s;
}
.Yearly-timeline .timeline-content:hover {
  text-decoration: none;
  transition: 0.5s;
}
.Yearly-timeline .timeline-icon {
  color: #777;
  font-size: 35px;
  transition: 0.5s;
}
.Yearly-timeline .title {
  color: black;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0 0 8px;
  transition: 0.5s;
}
.Yearly-timeline .description {
  color: rgb(0, 0, 0);
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 18px;
  margin: 0;
  transition: 0.5s;
}
.Yearly-timeline .timeline:nth-child(even) {
  padding: 0 0 30px 30px;
  float: right;
  transition: 0.5s;
}
.Yearly-timeline .timeline:nth-child(even):before {
  transform: rotate(45deg);
  right: auto;
  left: 30px;
  transition: 0.5s;
}
.Yearly-timeline .timeline:nth-child(even):after {
  right: auto;
  left: 0;
  transition: 0.5s;
}
.Yearly-timeline .timeline:nth-child(even) .timeline-content {
  border-radius: 15px 15px 15px 15px;
  transition: 0.5s;
}
.Yearly-timeline .timeline:nth-child(4n + 2):before,
.Yearly-timeline .timeline:nth-child(4n + 2):after {
  border-color: rgb(0, 212, 255);
  transition: 0.5s;
}
.Yearly-timeline .timeline:nth-child(4n + 2) .timeline-content {
  background: rgb(0, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(20, 20, 226, 1) 88%,
    rgba(8, 0, 142, 1) 100%
  );
  transition: 0.5s;
}
.Yearly-timeline .timeline:nth-child(4n + 3):before,
.Yearly-timeline .timeline:nth-child(4n + 3):after {
  border-color: rgb(0, 212, 255);
  transition: 0.5s;
}
.Yearly-timeline .timeline:nth-child(4n + 3) .timeline-content {
  background: rgb(8, 0, 142);
  background: linear-gradient(
    90deg,
    rgba(8, 0, 142, 1) 0%,
    rgba(20, 20, 226, 1) 12%,
    rgba(0, 212, 255, 1) 100%
  );
  transition: 0.5s;
}
.Yearly-timeline .timeline:nth-child(4n + 4):before,
.Yearly-timeline .timeline:nth-child(4n + 4):after {
  border-color: rgb(0, 212, 255);
  transition: 0.5s;
}
.Yearly-timeline .timeline:nth-child(4n + 4) .timeline-content {
  background: rgb(0, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(20, 20, 226, 1) 88%,
    rgba(8, 0, 142, 1) 100%
  );
  transition: 0.5s;
}
.timeline-icon-login .login-screen {
  height: auto;
  width: 150px;
  margin: 20px;
}
.timeline-icon-login .login-smartphone {
  display: none;
}
.timeline-icon-Arg img {
  height: auto;
  width: 100px;
  margin-bottom: 20px;
}
.timeline-icon-SBB .sbb-screen {
  height: auto;
  width: 200px;
  margin: 20px;
}
.timeline-icon-SBB .sbb-smartphone {
  display: none;
}

.timeline-icon-eurasia .eurasia-screen {
  height: auto;
  width: 200px;
  margin: 20px;
}

.timeline-icon-nordkapp .nordkapp-screen {
  height: auto;
  width: 200px;
  margin: 20px;
}

.timeline-icon-bfh .bfh-screen {
  height: auto;
  width: 100px;
}
.timeline-icon-bfh .bfh-smartphone {
  display: none;
}

.timeline-icon-kbs .kbs-screen {
  height: auto;
  width: 100px;
  margin-bottom: 20px;
}
.timeline-icon-kbs .kbs-smartphone {
  display: none;
}

.reveal {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/* skills */
.skills {
  width: 100%;
  padding: 20px 0px;
  background-color: #000000;
  color: rgba(255, 255, 255, 0.8);
}
.skills .title h2 {
  color: rgb(255, 255, 255);
  font-size: 75px;
  margin-top: 30px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  text-align: center;
  text-transform: capitalize;
}

.skill-container {
  width: auto;
  background-color: white;
  border-radius: 15px;
  padding: 15px 30px;
  margin: 20px 80px;
}
.skill-container .skill {
  margin-bottom: 30px;
  width: 100%;
  align-items: center;
  position: relative;
}
.skill-container .skill h3 {
  color: #000000;
  display: inline-block;
  margin-bottom: 5px;
}

.skill-container .skill h4 {
  color: #000000;
  float: right;
}

.skill-container .skill .skill-bar {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 17px;
  border-radius: 15px;
  background: black;
}

.skill-container .skill .fill-bar {
  position: absolute;
  top: 30px;
  left: 0;
  height: 17px;
  border-radius: 15px;
  background: #3c75d8;
}
.skill-container .skill .html {
  animation: html 2s;
  width: 60%;
}
.skill-container .skill .css {
  animation: css 2s;
  width: 60%;
}
.skill-container .skill .python {
  animation: python 2s;
  width: 40%;
}
.skill-container .skill .englisch {
  animation: englisch 2s;
  width: 70%;
}
.skill-container .skill .französisch {
  animation: französisch 2s;
  width: 80%;
}

@keyframes html {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}

@keyframes css {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}

@keyframes python {
  from {
    width: 0;
  }
  to {
    width: 40%;
  }
}

@keyframes englisch {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}

@keyframes französisch {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}
/* Facts */
.facts {
  width: 100%;
  height: 500px;
  background: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.facts .title h2 {
  color: rgb(0, 0, 0);
  font-size: 75px;
  text-align: center;
  text-transform: capitalize;
  padding: 30px 70px;
}

.facts p {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 30px;
  line-height: 28px;
}

.fact-text ul li {
  list-style: none;
  margin: 5px;
  width: 70px;
  height: 70px;
  background-color: #fff;
  text-align: center;
  line-height: 78px;
  font-size: 40px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 2px solid #fff;
  z-index: 1;
}

/* Kontakt */
.contact {
  width: 100%;
  height: 195px;
  background: #3c75d8;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact .title h2 {
  color: white;
  font-size: 75px;
  text-align: center;
  text-transform: capitalize;
  margin-top: 30px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.contact p {
  color: white;
  text-align: center;
  font-size: 30px;
  line-height: 28px;
}
.contact .button-mail {
  background-color: #3c75d8;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
  margin-top: 15px;
}
.contact .button-mail:hover {
  background-color: transparent;
  border: 2px solid;
  cursor: pointer;
}
footer {
  position: relative;
  width: 100%;
  height: 200px;
  background: #3c75d8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p {
  color: white;
  font-size: 17px;
  text-align: center;
  line-height: 26px;
  margin-bottom: 10px;
}

.some ul {
  display: flex;
}

.some ul li {
  list-style: none;
  margin: 5px;
}

.some ul li a {
  width: 70px;
  height: 70px;
  background-color: #fff;
  text-align: center;
  line-height: 78px;
  font-size: 40px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 2px solid #fff;
  z-index: 1;
}

.some ul li a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}

.some ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.some ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: -4px;
  width: 120%;
  height: 120%;
  transition: 0.5s;
  z-index: 2;
}

.some ul li a:hover:before {
  top: -4px;
}

.some ul li:nth-child(1) a:before {
  background: radial-gradient(
    circle,
    rgba(195, 195, 195, 1) 0%,
    rgba(84, 83, 84, 1) 0%,
    rgba(195, 195, 195, 1) 100%
  );
}

.some ul li:nth-child(2) a:before {
  background: linear-gradient(
    117deg,
    rgba(223, 219, 87, 1) 0%,
    rgba(193, 47, 108, 1) 35%,
    rgba(84, 52, 212, 1) 100%
  );
}

.some ul li:nth-child(3) a:before {
  background: #0077b5;
}

.end {
  color: #000000;
  margin: 5px;
  font-size: 17px;
}

.back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  border-radius: 100%;
  background: #141c38;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.5s;
  z-index: 1;
}

.back-to-top:hover {
  opacity: 60%;
}

.hidden {
  opacity: 0%;
}

.back-to-top-icon {
  width: 1rem;
  height: 1rem;
  color: #3c75d8;
}

/* Breakpoint Desktop */
@media screen and (max-width: 1130px) {
  .zeile {
    flex-direction: column;
  }

  .galerie-1 {
    height: 100vh;
  }
  .galerie-1 .box img {
    height: 80%;
  }
  .galerie-1 .box:hover {
    flex: 1 0%;
    margin-bottom: 5px;
  }
  .zeile-2 {
    flex-direction: column;
  }
  .galerie-2 {
    height: 100vh;
  }
  .galerie-2 .box img {
    height: 80%;
  }
  .galerie-2 .box:hover {
    flex: 1 0%;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 830px) {
  .map {
    width: auto;
    transition: 0.5s;
  }

  /* Breakpoint iPad & Tablet */
  @media screen and (max-width: 680px) {
    /* Navigation-Bar */
    #menu-bar {
      display: block;
    }
    .navbar {
      display: none;
    }
    .navbar li a:hover {
      color: #000000;
      transition: 0.4s;
    }

    .navbar.open {
      right: 0%;
      position: absolute;
      top: 0%;
      width: 170px;
      margin: 5px;
      padding: 5px 0px 5px 0px;
      height: auto;
      background: #3c75d8;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      border-radius: 10px;
      transition: all 0.5s ease;
    }

    /* about content */
    .content {
      position: absolute;
      top: 50%;
      transition: 0.5s;
    }

    .content h1 {
      font-size: 40px;
      transition: 0.2s;
      margin-bottom: 5px;
      text-align: center;
    }
    .content h3 {
      font-size: 25px;
      transition: 0.2s;
      text-align: center;
      transition: 0.5s;
    }
    .content h4 {
      font-size: 15px;
      transition: 0.2s;
      text-align: center;
      transition: 0.5s;
    }

    .main img {
      width: auto;
      height: 200px;
    }

    .about-text h2 {
      font-size: 35px;
      text-transform: capitalize;
      margin-bottom: 15px;
    }

    .about-text h5 {
      letter-spacing: 1px;
      font-size: 15px;
      text-transform: capitalize;
      margin-bottom: 10px;
    }
    .about-text p {
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 28px;
      margin-bottom: 45px;
    }

    /* Bilder */
    .galerie-1 {
      height: 80vh;
    }
    .galerie-1 .box img {
      height: 80%;
      object-fit: cover;
    }

    .galerie-2 {
      height: 80vh;
    }
    .galerie-2 .box img {
      height: 80%;
      object-fit: cover;
    }
    /* Laufbahn */
    .laufbahn {
      padding: 30px 20px;
    }
    .laufbahn .title h2 {
      font-size: 35px;
      text-transform: capitalize;
      margin-bottom: 15px;
    }
    .timeline-icon-SBB .sbb-screen {
      display: none;
    }
    .timeline-icon-SBB .sbb-smartphone {
      display: inline;
      height: auto;
      width: 80px;
      margin: 10px;
    }

    .timeline-icon-nordkapp .nordkapp-screen {
      display: inline;
      height: auto;
      width: 80px;
      margin: 10px;
    }

    .timeline-icon-eurasia .eurasia-screen {
      display: inline;
      height: auto;
      width: 80px;
      margin: 10px;
    }

    .timeline-icon-login .login-screen {
      display: none;
    }
    .timeline-icon-login .login-smartphone {
      display: inline;
      height: auto;
      width: 100px;
      margin: 20px;
    }
    .timeline-icon-bfh .bfh-screen {
      display: none;
    }
    .timeline-icon-bfh .bfh-smartphone {
      display: inline;
      height: auto;
      width: 40px;
      margin: 10px;
    }
    .timeline-icon-kbs .kbs-screen {
      display: none;
    }
    .timeline-icon-kbs .kbs-smartphone {
      display: inline;
      height: auto;
      width: 100px;
      margin: 10px;
    }
    .Yearly-timeline .timeline {
      width: 100%;
      padding: 20px 20px 20px 20px;
      margin: 0 0 20px;
    }
    .Yearly-timeline .timeline:before,
    .Yearly-timeline .timeline:nth-child(even):before {
      transform: rotate(-45deg);
      bottom: auto;
      top: 0;
      right: auto;
      left: 30px;
    }
    .Yearly-timeline .timeline:after,
    .Yearly-timeline .timeline:nth-child(even):after {
      bottom: auto;
      top: 0;
      right: auto;
      left: 0;
    }
    .Yearly-timeline .timeline-content,
    .Yearly-timeline .timeline:nth-child(even) .timeline-content {
      border-radius: 15px 15px 15px 15px;
    }
    .Yearly-timeline .timeline:nth-child(even) {
      padding: 20px 20px 20px 20px;
    }
    .Yearly-timeline .timeline-content {
      padding: 30px 35px;
      transition: 0.5s;
    }
    /* Skills */
    .skills .title h2 {
      font-size: 35px;
      text-transform: capitalize;
      margin-bottom: 15px;
    }

    /* Kontakt */
    .contact .title h2 {
      font-size: 35px;
      text-transform: capitalize;
    }
  }

  /* Breakpoint Smartphone */
  @media screen and (max-width: 420px) {
    .content {
      position: absolute;
      top: 40%;
    }

    .menu {
      padding: 14px 2%;
      transition: 0.2s;
      width: 100%;
      background-image: url(assets/BG_smartphone.jpg);
    }
    .about-text {
      margin-left: 0px;
      align-items: center;
      text-align: center;
      transition: 0.5s;
    }
  }
}
